language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '7'
before_script:
  - npm prune
script:
  - npm run test
after_success:
  - npm run build
  - npm run lh -- https://hurricanew.github.io/build/index.html
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
env:
  - LIGHTHOUSE_API_KEY=a1823785d85540d7ad9143f2a558d346

